Flask==2.2.5
Flask-SocketIO==5.3.6
eventlet==0.33.3
gevent==22.10.2
gevent-websocket==0.10.1
cryptography==41.0.3
python-dotenv==1.0.0


# How to Use This File

Save this content as requirements.txt in the root of your project directory.
Run the following command to install all dependencies:
pip install -r requirements.txt
